<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class=" display-4 fadeIn fast">Sobre ComicLand! </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget augue maximus, porta libero ut,
            tincidunt enim. Vivamus eu lorem faucibus, condimentum odio at, tincidunt nisi. Fusce id ligula auctor,
            lacinia nulla nec, posuere odio. Duis dictum, felis et pellentesque rhoncus, sem est luctus ligula, ac
            lobortis neque libero vel eros. Nullam iaculis hendrerit felis, in ullamcorper nisi ultricies non. Etiam
            porttitor semper volutpat. Proin sem sapien, dapibus in tellus ut, tristique luctus tellus. Aliquam ex
            magna, aliquet eleifend dignissim vel, dapibus vitae tortor.</p>

        <p>Fusce dapibus porttitor interdum. Aliquam nec odio ipsum. Aliquam molestie in tellus eget tempus. Praesent a
            ullamcorper sapien. Donec bibendum lobortis bibendum. Aliquam tincidunt ut turpis a pretium. Vestibulum
            euismod pretium facilisis. Sed euismod sapien nulla, non eleifend mauris varius non. Ut ullamcorper
            ullamcorper quam, id mattis lacus cursus vel. Etiam ligula nisl, fermentum eu convallis porttitor, bibendum
            at nulla. Suspendisse potenti.</p>
    </div>
</div>